*.iml
.gradle
/local.properties
/.idea
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/res/drawable/
src/main/gen/
base/src/main/res/drawable/
mvp/src/main/res/drawable/
